/*Main-body*/

.indiv-card-cont {
    width: 150px;
    display: inline-block;
}
.indiv-card {
	position: relative;
    width: 98%;
	height: 200px;
}

.front-face, .back-face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
}
.selected {
    display: none;
}